<%- include("includes/head.ejs") %>

<body>
  <h1>This is the home page</h1>
  <h3>
    <%= 78*34 %>
  </h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore fuga dolorum voluptas ea officiis eius autem
    voluptates ex nobis architecto!
  </p>
  <button>Click</button>
  <%- include("includes/footer.ejs") %>
</body>

</html>